[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tox = "*"
pytest = "*"
sphinx = "*"
"kenl380.pylib" = {editable = true, path = "./.."}

[requires]
python_version = "3.6"
