[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tox = "*"
pytest = "*"
"kenl380.pylib" = {editable = true, path = "./.."}
sphinx = "*"

[requires]
python_version = "2.7"
